<html>
    <head>
        <title>CallingPage</title>
        <style>
            #calling{
                background-color: grey;
                padding:5px;

            }
            #body{
                margin-top: 20px;   
            }
        </style>
    </head>
    <body>
        <div id="calling">
            <h1 style="text-align:center;font-weight:bolder">CALLINGS</h1>
        </div>
        <div id="body">
            <form action="" method="POST">
            {%csrf_token%}
            LeadStatus:<br><br>
            <select name="lead" id="lead">
                <option value="none"></option>
                <option value="demo">Demo</option>
                <option value="call">Call back</option>
                <option value="councling">Councling</option>
            </select><br><br>
            DemoDate:<br><br><input type="date" name="date" id="date"size="50"><br><br>
            <button>Find</button>
            </form>

    </body>
</html>