<html>
    <head>
        <title>Counselling</title>
        <style>
            #counselling{
                background-color: grey;
                padding:5px;

            }
            #body{
                margin-top: 20px;   
            }
        </style>
    </head>
    <body>
        <div id="counselling">
            <h1 style="text-align:center;font-weight:bolder">COUNSELLING</h1>
        </div>
        <div id="body">
            <form action="" method="POST">
            {%csrf_token%}
            Course:<br><br>
            <select name="course" id="course"width="50px">
                <option value="none"></option>
                <option value="java">Java</option>
                <option value="fullstack">Full Stack</option>
                <option value="python">Python</option>
            </select><br><br>
            DemoDate:<br><br><input type="date" name="date" id="date"size="50"><br><br>
            <input type="Submit">
            </form>
        </div>
    </body>
</html>
