<html>
    <head>
        <title>Digital Lync</title>
        <style>

            #nav_bar{
                display: flex;
                align-items: center;
                text-align: justify;
                background-color:lightgray;
                
            }
            #main{
                margin-top:100px;
            }
            a:hover{
                cursor: pointer;
            }

        </style>
    </head>
    <body>
        <div id="nav_bar">
            <img style="margin-right:10px"src="https://www.digital-lync.com/images/digital-lyncs-devops-python-digital-marketing-training-hyderabad.png">
            <a style=" text-decoration:none;color: black;margin-right:10px"href="register"> Register</a>
            <a style=" text-decoration:none;color: black;margin-right:10px"href="walkin">Walkin</a>
            <a style=" text-decoration:none;color: black;margin-right:10px"href="calling_page">Calling</a>
            <a style=" text-decoration:none;color: black;margin-right:10px"href="counselling">Counselling</a>
            <a style=" text-decoration:none;color: black;margin-right:10px"href="joining">Joining</a>
            <a style=" text-decoration:none;color: black;margin-right:10px"href="students">Students</a>
            <a style=" text-decoration:none;color: black;margin-right:10px"href="#">CurrentStatus</a>

        </div>
        <div id="main">
            <img style="width:100%;height:200px"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREs1fM9XvR5g3uhKPVCT1ls1WLouLvAl0pPg&usqp=CAU">
            <br>
            <br>
            <h1 style="text-align:center;color:grey;font-style:italic;font-weight:bolder">Digital Lync Welcomes You</h1>
        </div>
    </body>
</html>