<html>
    <head>
        <title>Digital Lync</title>
        <style>
            #register{
                background-color: grey;
                padding:5px;

            }
            #body{
                padding: 20px;
            }

        </style>
    </head>
    <body>
        <div id="register">
            <h1 style="text-align:center;font-weight:bolder">REGISTER</h1><br>
        </div>
        <div id="body">
        <form action="" method="POST" >
            {%csrf_token%}
            Name:<br><br> <input type="text" name="name" id="name"size="50"><br><br>

            Mobile: <br><br><input type="text" name="mobile" id="mobile"size="50"><br><br>

            Email: <br><br><input type="email" name="email" id="email"size="50"><br><br>

            
            Course:<br><br>
            <select name="course" id="course"width="50px">
                <option value="none"></option>
                <option value="java">Java</option>
                <option value="fullstack">Full Stack</option>
                <option value="python">Python</option>
            </select><br><br>
            Source:<br><br>
            <select name="source" id="source">
                <option value="none"></option>
                <option value="web">WebSite</option>
                <option value="network">Social Network</option>
                <option value="sulekha">Sulekha</option>
            </select><br><br>
            LeadStatus:<br><br> 
            <select name="lead" id="lead">
                <option value="none"></option>
                <option value="demo">Demo</option>
                <option value="call">Call back</option>
                <option value="councling">Counseling</option>
            </select><br><br>
            DemoDate:<br><br><input type="date" name="date" id="date"size="50" value="date"><br><br>
            Counsler:<br><br><input type="text" name="counsler" id="counsler"size="50"><br><br>
            Remarks:<br><br><input type="text" name="remarks" id="remarks"size="50"><br><br> 
            <input type="Submit">


        </form>
        </div>
    </body>


</html>